
<div>
    <h2>Seja Bem Vindo.</h2>
</div>

<div>
    <h2>Esta é uma API para produtos e-commerce</h2>
</div>

<form action="/api/products">
    <button>Todos os produtos</button>
</form>

<div>
    <h3>
        Encontre o produto desejado pesquisando pelo nome através da barra de pesquisa...
    </h3>
</div>

<form action="/api/productname">
<input name="searchname" class="input-search" type="search" autocomplete="on" placeholder="Pesquise por um produto..."/>
</form>

<div>
    <h3>Encontre o produto por especificações</h3>
</div>
<form action="/api/filterby/">
    <button>Filter</button>
</form>